<a href="https://colab.research.google.com/github/sobirjonhabibullaev/Python-Lessons/blob/main/intro_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import tensorflow as tf
import keras

In [2]:
tf.__version__

'2.6.0'

In [3]:
torch.__version__

'1.9.0+cu102'

In [2]:
import torch
torch.cuda.is_available()

True

In [3]:
!ls

sample_data

In [6]:
import pandas as pd

files = pd.read_csv("./sample_data/california_housing_test.csv")

files.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]